# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/


##### Above from: https://stackoverflow.com/a/25592735

#ignore .DS_Store files
*.DS_Store

#ignore .txt files
C/C++/*.txt

# Ignore vscode folder
*.vscode

# Executables
*.exe
*.out
*.app

# Getting rid of .h.gch files
*.h.gch*