# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

##### Above from: https://stackoverflow.com/a/25592735



#ignore .DS_Store files
*.DS_Store

#ignore .txt files
*.txt
!/First year/Spring 2020/ADS/Homework 2/Problem 6 | Using maps/data.txt

# Ignore vscode folder
*.vscode

# Executables
*.exe
*.out
*.app

# object
*.o

#interface file
*.hi

# Getting rid of .h.gch files
*.h.gch*